@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;} 
}

.table-element-animation {
    animation-name: fade;
    animation-duration: .5s;
}

@keyframes grow {
    from {transform: scale(0);}
    to {transform: scale(1.2);}
}

.hotkey-icon-animation {
    animation-name: grow;
    animation-duration: .2s;
}

/*
.music-icon {
    transition: opacity ease .5s;
    opacity: 0;
}
.music-icon.shown {
    opacity: 1;
}
*/

/*
#fun-icon {
    animation-name: test;
    animation-duration: 1.8s;
    animation-delay: .075s;
}

#games-icon {
    animation-name: test;
    animation-duration: 1.8s;
    animation-delay: .1s;
}

#programming-icon {
    animation-name: test;
    animation-duration: 1.8s;
    animation-delay: .125s;
}

#social-icon {
    animation-name: test;
    animation-duration: 1.8s;
    animation-delay: .15s;
}

#surfing-icon {
    animation-name: test;
    animation-duration: 1.8s;
    animation-delay: .175s;
}


#anime-icon {
    animation-name: test;
    animation-duration: 1.8s;
    animation-delay: .2s;
}

#other-icon {
    animation-name: test;
    animation-duration: 1.8s;
    animation-delay: .225s;
}*/
