body {
    background-image: url(../img/rainbow.jpg);
}

#active-application-container {
    height: 25%;
/*    background-color: #ececec;*/
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    height: 55%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#motivational-quote-container {
    height: 20%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#motivational-quote {
    font-size: 50px;
}

#categories {
    table-layout: fixed;
    width: 100%;
    height: 150%;
}

#categories-container {
    height: 75%;
    
    display: flex;
    justify-content: center;
    align-items: center;   
}

tr > td {
/*    margin: 9vh 8vw 9vh 8vw;*/
    width: 4px;
}

col {
    display: table-cell;
    vertical-align: top;
    height: 200px;
    width: 200px;
}

#td-top-left {
    border-right: 3.5px solid black;
    border-bottom: 3.5px solid black;
}

#td-top-middle-left {
    border-bottom: 3.5px solid black;
}

#td-top-middle-right {
    border-right: 3.5px solid black;
    border-bottom: 3.5px solid black;
    border-left: 3.5px solid black;
}

#td-top-right {
    border-bottom: 3.5px solid black;
}

#td-bottom-middle-left {
    border-left: 3.5px solid black;
    border-right: 3.5px solid black;
}

#td-bottom-middle-right {
    border-right: 3.5px solid black;
}

.category-icon {
    position: relative;
    height: 110px;
    width: 110px;
}