body {
    background-color: #3BE6E6;
}

#active-application-container {
    height: 25%;
    background-color: #ececec;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    height: 55%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#motivational-quote-container {
    height: 20%;
    background-color: #3BE6E6;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#motivational-quote {
    font-size: 50px;
}

#categories-container {
    height: 75%;
    
    display: flex;
    justify-content: center;
    align-items: center;   
}

tr > td {
    padding: 6vh 8vw 6vh 8vw;
}

#td-top-left {
    border-right: 3.5px solid black;
    border-bottom: 3.5px solid black;
}

#td-top-middle-left {
    border-bottom: 3.5px solid black;
}

#td-top-middle-right {
    border-right: 3.5px solid black;
    border-bottom: 3.5px solid black;
    border-left: 3.5px solid black;
}

#td-top-right {
    border-bottom: 3.5px solid black;
}

#td-bottom-middle-left {
    border-left: 3.5px solid black;
    border-right: 3.5px solid black;
}

#td-bottom-middle-right {
    border-right: 3.5px solid black;
}