#active-application-container {
    background: blue;
    height: 25%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    background: red;
    height: 55%;
}

#motivational-quote-container {
    height: 20%;
    background: green;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#motivational-quote {
    font-size: 50px;
}
